@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #213421;
    margin: 0;
    padding: 20px;
}

.bg-side{
    background: #0D2F28;
}

.button{
    background-color: #213421;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet de surélévation */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover{
    background-color: #0D2F28;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}